<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>
    <main>
        <div class="jumbotron">
            <h1>About</h1>
            <p>Vamos aprender a trabalhar com arquivos EJS</p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>